{% extends 'base.html.twig' %}

{% block body %}
    <div class="row p-5">
        <div class="col-12 alert alert-warning text-center rounded-pill">
            <span class="">Ces données ne seront pas sauvegardées, vous pouvez les sauvegarder en simulant un combat depuis le menu <span class="fw-bold fst-italic">« Simuler un combat »</span></span>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center">
        <div>
            <div class="row">
                <h1 class="text-center display-1 fw-bold">ROUND</h1>
            </div>
            <div class="d-flex justify-content-around fw-bold">
                <div class="text-center row">
                    <span class="col-6 display-2 fw-bold text-primary">{{ round.blueStrikes}}</span>
                    <span class="col-6 display-2 fw-bold text-danger">{{ round.redStrikes }}</span>
                    <span class="col-12 text-muted fs-6">Frappes</span>
                </div>

                <div class="text-center row">
                    <span class="col-6 display-2 fw-bold  text-primary">{{ round.blueSignificantsStrikes}}</span>
                    <span class="col-6 display-2 fw-bold  text-danger">{{ round.redSignificantsStrikes }}</span>
                    <span class="col-12 text-muted fs-6">Significatives</span>
                </div>
            </div>

            <div class="d-flex justify-content-around fs-1 fw-bold">
                <div class="text-center row">
                    <span class="col-6 display-2 fw-bold  text-primary">{{ ((round.blueSignificantsStrikes * 100) / round.blueStrikes)|number_format(2, ',') }} %</span>
                    <span class="col-6 display-2 fw-bold  text-danger">{{ ((round.redSignificantsStrikes * 100) / round.redStrikes)|number_format(2, ',') }} %</span>
                    <span class="col-12 text-muted fs-6">Pourcentage</span>
                </div>
            </div>

            <div class="d-flex justify-content-around fs-1 fw-bold">
                <div class="text-center row">
                    <span class="col-6 display-2 fw-bold text-primary">{{ round.blueTakedowns }}</span>
                    <span class="col-6 display-2 fw-bold text-danger">{{ round.redTakedowns }}</span>
                    <span class="col-12 text-muted fs-6">Takedowns</span>
                </div>
            </div>

            <div class="d-flex justify-content-around fs-1 fw-bold">
                <div class="text-center row">
                    <span class="col-12 display-2 fw-bold text-primary">{{ round.blueScore}}</span>
                    <span class="col-12 text-muted fs-6">Score coin bleu</span>
                </div>

                <div class="text-center row">
                    <span class="col-12 display-2 fw-bold text-danger">{{ round.redScore }}</span>
                    <span class="col-12 text-muted fs-6">Score coin rouge</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
