{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-borderless table-dark text-light text-center">
        <thead>
        <tr>
            <th>Date</th>
            <th>Coin bleu</th>
            <th>Coin rouge</th>
            <th>Division</th>
            <th>Vainqueur</th>
        </tr>
        </thead>

        <tbody>
        {% for fight in fights %}
            <tr>
                <td>{{ fight.date.format('d/m/Y') }}</td>
                <td>{{ fight.blueFighterMen }}</td>
                <td>{{ fight.redFighterMen }}</td>
                <td>{{ fight.redFighterMen.division }}</td>
                <td>{{ fight.winner }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}