{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-danger" href="{{ path('fighter_men')}}">Retour au listing</a>

    <h1 class="text-center">Formulaire d'ajout d'un Combattant</h1>

            {{ form_start(fighter_men_add, {
                'attr':{'class':'row g-3'}
            }) }}
            <div class="col-md-6">
                {{ form_row(fighter_men_add.lastname, {
                        'label':'Nom'
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(fighter_men_add.firstname, {
                        'label':'Prénom'
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(fighter_men_add.height, {
                        'label':'Poids'
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(fighter_men_add.weight, {
                        'label':'Taille'
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(fighter_men_add.origin, {
                        'label':'Pays'
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(fighter_men_add.division, {
                        'label':'Division'
                }) }}
            </div>
        <div class="col-md-12">
                {{ form_row(fighter_men_add.enregistrer, {
                        'attr':{'class':'btn-primary w-100'}
                }) }}
        </div>
            {{ form_end(fighter_men_add) }}

{% endblock %}
