{% extends 'base.html.twig' %}

{% block navlinks %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('main_menu') }}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('fighter_men') }}">Combattants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('fight_list') }}">Combats</a>
        </li>
    </ul>
{% endblock %}

{% block returnlink %}
    <button class="btn btn-outline-danger rounded-pill" onclick="history.back();">Retour</button>
{% endblock %}


{% block body %}
    <h1 class="text-center">Suppression d'un Combattant</h1>

    {{ form_start(fighter_men_delete, {
        'attr':{'class':'row g-3'}
    }) }}
    <div class="col-md-6">
        {{ form_row(fighter_men_delete.lastname, {
            'label':'Nom'
        }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(fighter_men_delete.firstname, {
            'label':'Prénom'
        }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(fighter_men_delete.height, {
            'label':'Poids (en livres)'
        }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(fighter_men_delete.weight, {
            'label':'Taille (en pouces)'
        }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(fighter_men_delete.origin, {
            'label':'Pays'
        }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(fighter_men_delete.division, {
            'label':'Division'
        }) }}
    </div>
    <div class="col-md-12">
        {{ form_row(fighter_men_delete.enregistrer, {
            'label': 'Supprimer',
            'attr':{'class':'btn-danger w-100'}
        }) }}
    </div>
    {{ form_end(fighter_men_delete) }}
{% endblock %}
