{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Suppression d'un Combattant</h1>

    {{ form_start(fighter_men_delete, {
        'attr':{'class':'row g-3'}
    }) }}
    <div class="col-md-6">
        {{ form_row(fighter_men_delete.lastname, {
            'label':'Nom'
        }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(fighter_men_delete.firstname, {
            'label':'Prénom'
        }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(fighter_men_delete.height, {
            'label':'Poids'
        }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(fighter_men_delete.weight, {
            'label':'Taille'
        }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(fighter_men_delete.origin, {
            'label':'Pays'
        }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(fighter_men_delete.division, {
            'label':'Division'
        }) }}
    </div>
    <div class="col-md-12">
        {{ form_row(fighter_men_delete.enregistrer, {
            'label': 'Supprimer',
            'attr':{'class':'btn-danger w-100'}
        }) }}
    </div>
    {{ form_end(fighter_men_delete) }}
{% endblock %}
