{% extends 'base.html.twig' %}

{% block navlinks %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('main_menu') }}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('fighter_men') }}">Combattants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('fight_list') }}">Combats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('help_page') }}">Aide & Documentation</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div class="row py-3">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-10">
                <h1 class="fw-bold text-center">Liste de tous les combattants</h1>
            </div>
            <div class="d-flex align-items-center col-2">
                <a class="btn btn-secondary" href="{{ path('fighter_men_add') }}">Ajouter un combattant</a>
            </div>
        {% else %}
            <div class="col-12">
                <h1 class="fw-bold text-center">Liste de tous les combattants</h1>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <table class="table table-dark table-bordered table-striped table-hover text-center">
                <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Détails</td>
                </tr>
                </thead>
                <tbody>
                {% for fighter_men in list_fighter_men %}
                    {% if fighter_men.division.divisionEng == 'Flyweight' %}
                        <tr>
                            <td>{{ fighter_men.lastname }}</td>
                            <td>{{ fighter_men.firstname }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a class="btn btn-info" href="{{ path('fighter_men_show',{'id': fighter_men.id}) }}">Voir</a>
                                    <a class="btn btn-warning" href="{{ path('fighter_men_update',{'id': fighter_men.id}) }}">Éditer</a>
                                    <a class="btn btn-danger" href="{{ path('fighter_men_delete',{'id': fighter_men.id}) }}">Supprimer</a>
                                </td>
                            {% else %}
                                <td>
                                    <a class="btn btn-info" href="{{ path('fighter_men_show',{'id': fighter_men.id}) }}">Voir</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-6">
            <table class="table table-dark table-bordered table-striped table-hover text-center">
                <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Détails</td>
                </tr>
                </thead>
                <tbody>
                {% for fighter_men in list_fighter_men %}
                    {% if fighter_men.division.divisionEng == 'Bantamweight' %}
                        <tr>
                            <td>{{ fighter_men.lastname }}</td>
                            <td>{{ fighter_men.firstname }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a class="btn btn-info" href="{{ path('fighter_men_show',{'id': fighter_men.id}) }}">Voir</a>
                                    <a class="btn btn-warning" href="{{ path('fighter_men_update',{'id': fighter_men.id}) }}">Éditer</a>
                                    <a class="btn btn-danger" href="{{ path('fighter_men_delete',{'id': fighter_men.id}) }}">Supprimer</a>
                                </td>
                            {% else %}
                                <td>
                                    <a class="btn btn-info" href="{{ path('fighter_men_show',{'id': fighter_men.id}) }}">Voir</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-6">
            <table class="table table-dark table-bordered table-striped table-hover text-center">
                <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Détails</td>
                </tr>
                </thead>
                <tbody>
                {% for fighter_men in list_fighter_men %}
                    {% if fighter_men.division.divisionEng == 'Featherweight' %}
                        <tr>
                            <td>{{ fighter_men.lastname }}</td>
                            <td>{{ fighter_men.firstname }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a class="btn btn-info" href="{{ path('fighter_men_show',{'id': fighter_men.id}) }}">Voir</a>
                                    <a class="btn btn-warning" href="{{ path('fighter_men_update',{'id': fighter_men.id}) }}">Éditer</a>
                                    <a class="btn btn-danger" href="{{ path('fighter_men_delete',{'id': fighter_men.id}) }}">Supprimer</a>
                                </td>
                            {% else %}
                                <td>
                                    <a class="btn btn-info" href="{{ path('fighter_men_show',{'id': fighter_men.id}) }}">Voir</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-6">
            <table class="table table-dark table-bordered table-striped table-hover text-center">
                <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Détails</td>
                </tr>
                </thead>
                <tbody>
                {% for fighter_men in list_fighter_men %}
                    {% if fighter_men.division.divisionEng == 'Lightweight' %}
                        <tr>
                            <td>{{ fighter_men.lastname }}</td>
                            <td>{{ fighter_men.firstname }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a class="btn btn-info" href="{{ path('fighter_men_show',{'id': fighter_men.id}) }}">Voir</a>
                                    <a class="btn btn-warning" href="{{ path('fighter_men_update',{'id': fighter_men.id}) }}">Éditer</a>
                                    <a class="btn btn-danger" href="{{ path('fighter_men_delete',{'id': fighter_men.id}) }}">Supprimer</a>
                                </td>
                            {% else %}
                                <td>
                                    <a class="btn btn-info" href="{{ path('fighter_men_show',{'id': fighter_men.id}) }}">Voir</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-6">
            <table class="table table-dark table-bordered table-striped table-hover text-center">
                <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Détails</td>
                </tr>
                </thead>
                <tbody>
                {% for fighter_men in list_fighter_men %}
                    {% if fighter_men.division.divisionEng == 'Welterweight' %}
                        <tr>
                            <td>{{ fighter_men.lastname }}</td>
                            <td>{{ fighter_men.firstname }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a class="btn btn-info" href="{{ path('fighter_men_show',{'id': fighter_men.id}) }}">Voir</a>
                                    <a class="btn btn-warning" href="{{ path('fighter_men_update',{'id': fighter_men.id}) }}">Éditer</a>
                                    <a class="btn btn-danger" href="{{ path('fighter_men_delete',{'id': fighter_men.id}) }}">Supprimer</a>
                                </td>
                            {% else %}
                                <td>
                                    <a class="btn btn-info" href="{{ path('fighter_men_show',{'id': fighter_men.id}) }}">Voir</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-6">
            <table class="table table-dark table-bordered table-striped table-hover text-center">
                <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Détails</td>
                </tr>
                </thead>
                <tbody>
                {% for fighter_men in list_fighter_men %}
                    {% if fighter_men.division.divisionEng == 'Middleweight' %}
                        <tr>
                            <td>{{ fighter_men.lastname }}</td>
                            <td>{{ fighter_men.firstname }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a class="btn btn-info" href="{{ path('fighter_men_show',{'id': fighter_men.id}) }}">Voir</a>
                                    <a class="btn btn-warning" href="{{ path('fighter_men_update',{'id': fighter_men.id}) }}">Éditer</a>
                                    <a class="btn btn-danger" href="{{ path('fighter_men_delete',{'id': fighter_men.id}) }}">Supprimer</a>
                                </td>
                            {% else %}
                                <td>
                                    <a class="btn btn-info" href="{{ path('fighter_men_show',{'id': fighter_men.id}) }}">Voir</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-6">
            <table class="table table-dark table-bordered table-striped table-hover text-center">
                <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Détails</td>
                </tr>
                </thead>
                <tbody>
                {% for fighter_men in list_fighter_men %}
                    {% if fighter_men.division.divisionEng == 'Light Heavyweight' %}
                        <tr>
                            <td>{{ fighter_men.lastname }}</td>
                            <td>{{ fighter_men.firstname }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a class="btn btn-info" href="{{ path('fighter_men_show',{'id': fighter_men.id}) }}">Voir</a>
                                    <a class="btn btn-warning" href="{{ path('fighter_men_update',{'id': fighter_men.id}) }}">Éditer</a>
                                    <a class="btn btn-danger" href="{{ path('fighter_men_delete',{'id': fighter_men.id}) }}">Supprimer</a>
                                </td>
                            {% else %}
                                <td>
                                    <a class="btn btn-info" href="{{ path('fighter_men_show',{'id': fighter_men.id}) }}">Voir</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-6">
            <table class="table table-dark table-bordered table-striped table-hover text-center">
                <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Détails</td>
                </tr>
                </thead>
                <tbody>
                {% for fighter_men in list_fighter_men %}
                    {% if fighter_men.division.divisionEng == 'Heavyweight' %}
                        <tr>
                            <td>{{ fighter_men.lastname }}</td>
                            <td>{{ fighter_men.firstname }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a class="btn btn-info" href="{{ path('fighter_men_show',{'id': fighter_men.id}) }}">Voir</a>
                                    <a class="btn btn-warning" href="{{ path('fighter_men_update',{'id': fighter_men.id}) }}">Éditer</a>
                                    <a class="btn btn-danger" href="{{ path('fighter_men_delete',{'id': fighter_men.id}) }}">Supprimer</a>
                                </td>
                            {% else %}
                                <td>
                                    <a class="btn btn-info" href="{{ path('fighter_men_show',{'id': fighter_men.id}) }}">Voir</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
