{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Modification d'un Combattant</h1>

    {{ form_start(fighter_men_update, {
        'attr':{'class':'row g-3'}
    }) }}
    <div class="col-md-6">
        {{ form_row(fighter_men_update.lastname, {
            'label':'Nom'
        }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(fighter_men_update.firstname, {
            'label':'Prénom'
        }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(fighter_men_update.height, {
            'label':'Poids (en livres)'
        }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(fighter_men_update.weight, {
            'label':'Taille (en pouces)'
        }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(fighter_men_update.origin, {
            'label':'Pays'
        }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(fighter_men_update.division, {
            'label':'Division'
        }) }}
    </div>
    <div class="col-md-12">
        {{ form_row(fighter_men_update.enregistrer, {
            'attr':{'class':'btn-danger w-100'}
        }) }}
    </div>
    {{ form_end(fighter_men_update) }}
{% endblock %}
