<!DOCTYPE html>
<html lang="fr" class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}FighterStat™{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="icon" href="{{ asset('assets/images/assets/favicon.png') }}">
            <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
        {% endblock %}
    </head>

    <body class="bg-dark text-light h-100">

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
        <span class="navbar-brand">
            <a class="text-decoration-none" href="{{ path('main_menu')   }}">
                <img src="{{  asset('assets/images/assets/favicon.png') }}" alt="Logo" style="width: 32px">
            </a>
            FightersStats™ -
            {% if app.user %}
            <span class="text-danger">Connecté(e) en tant que "{{ app.user.username }}"</span>
            {% endif %}
        </span>
            <div>
                {% block navlink %}{% endblock %}
                {% if app.user %}
                <button type="button" data-bs-toggle="modal" data-bs-target="#LogOutModal" class="btn btn-danger rounded-pill">Déconnexion</button>
                <div class="modal fade" id="LogOutModal" tabindex="-1" aria-labelledby="LogOutModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-dark">
                            <div class="modal-header">
                                <h5 class="modal-title">Avertissement</h5>
                            </div>
                            <div class="modal-body">
                                Êtes vous sûr de vouloir vous déconnecter de FightersStats™ ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-warning rounded-pill" data-bs-dismiss="modal">Annuler</button>
                                <a href="{{ path('app_logout') }}" class="btn btn-danger rounded-pill">Confirmer</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>
    </body>

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('assets/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    {% endblock %}

</html>
